<h1>Angular Reading List of Awesome</h1>

<div class="row" ng-controller="ReadingListController as readingListCtrl">

    <button class="btn btn-default" ng-click="readingListCtrl.toggleShowForm()">{{readingListCtrl.showForm ? "Cancel" : "Create a Review"}}</button>
    <hr />
    <review-form books="readingListCtrl.books" genres="readingListCtrl.genres" ng-show="readingListCtrl.showForm"></review-form>
    <hr />

    <ul class="list-unstyled col-sm-8">
        <li class="book row" ng-repeat="book in readingListCtrl.books">
            <book-review book="book"></book-review>
        </li>
    </ul>
</div>
